.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
/frontend/bindings
/build/windows
/build
/backend/clib/extensometer/opencv
frontend/tsconfig.json
frontend/src/vite-env.d.ts
frontend/src/main.js
frontend/public/vue.svg
frontend/public/style.css
frontend/public/Inter-Medium.ttf
frontend/package-lock.json
frontend/Inter Font License.txt
frontend/package.json
frontend/vite.config.js
frontend/wailsjs/go/main/App.js
Taskfile.yml
go.sum
go.mod
changeme.exe
frontend/.bindings-tmp-*/
